{% extends "main-a.html" %}

{% block content %}

<!--  {% if form.errors %}-->
<!--    <p>Your username and password didn't match. Please try again.</p>-->
<!--  {% endif %}-->

    {% if user.is_authenticated %}
        <div style="border-radius: 20px 20px 20px 20px; margin-bottom: 30%" class="modal-content animate">
            <p style="font-size:20px; color: red; text-align: center;">You are logged in!</p>
        </div>
    {% else %}
      <form style="border-radius: 22px 22px 22px 22px;" class="modal-content animate" action="{% url 'login' %}" method="post">
          {% csrf_token %}
        <div style="border-radius: 20px 20px 0px 0px;" class="container">
          {% if form.errors %}
            <p style="color: red; text-align: center;">Your username and password didn't match. Please try again.</p>
          {% endif %}
          <label for="id_username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">


          <label for="id_password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" autocomplete="current-password" required="" id="id_password">

        </div>
<!--        <a href="next">-->
            <button class="button" type="submit" value="login" style="margin: 15px 10% 40px 10%; width: auto; float: right; font-size: medium;">
                Login
            </button>
<!--        </a>-->
        <div style="border-radius: 0px 0px 20px 20px; background-color:#dddcdc;" class="container">
          <div class="container" style="border-radius: 0px 0px 20px 20px; background-color:#dddcdc;">
              <a class="cancelbtn" href="{% url 'password_reset' %}">Forget password?</a>

                <div style="float:right;">
                    <a href="{% url 'create-account' %}">
                    <button class="button" type="button" style="width: auto;">
                      Join SiteOcation
                    </button>
                    </a>
                </div>
                </div>
        </div>
      </form>
    {% endif %}
<!--  {# Assumes you setup the password_reset view in your URLconf #}-->

{% endblock %}