{% extends "main-a.html" %}

{% block content %}
<div class="Body">
      <div class="mySlides2" style="padding: 15px 10px; border-radius: 25px; width: 50%; margin-left: 25%; text-align: center; margin-top: 12%; background-color: #333333;">
        <div class="container">
          <p style="font-size: large; color: #888888"><b>We've emailed you instructions for setting your password.<br>If they haven't arrived in a few minutes, check your spam folder.</b></p>
        </div>
      </div>
    </div>
{% endblock %}