{% extends "main-a.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="Body">
    {% if form.new_password1.errors or form.new_password2.errors %}
    <div class="mySlides2" style="padding: 15px 10px; border-radius: 25px; width: 50%; margin-left: 25%; text-align: center; margin-top: 10%; background-color: #888888;">
        <div class="container">
        <form action="" method="post">
            {% if form.new_password1.errors %}
                <h1 style="font-size: larger; color: #a90b0b"><b>New Password: {{ form.new_password1.errors }}</b></h1>
            {% endif %}
            {% if form.new_password2.errors %}
                <h1 style="font-size: larger; color: #a90b0b"><b>Confirm Password: {{ form.new_password2.errors }}</b></h1>
            {% endif %}
        </form>
        </div>
      </div>
    {% endif %}
      <div class="mySlides2" style="padding: 15px 10px; border-radius: 25px; width: 50%; margin-left: 25%; text-align: center; background-color: #333333;">
        <div class="container">
            {% if validlink %}
          <p style="font-size: larger; color: #FCA311"><b>Please enter (and confirm) your new password.</b></p>
        <form action="" method="post">
        {% csrf_token %}
                <label style="font-size: large; color: #888888; float: left;" for="id_new_password1">New password:</label>
                {% render_field form.new_password1 class="input" style="margin-bottom: 28px; width: 100%; float: left" placeholder="Enter New Password" %}
                <label style="font-size: large; color: #888888; float: left;" for="id_new_password2">Confirm password:</label>
                {% render_field form.new_password2 class="input" style="margin-bottom: 28px; width: 100%; float: left" placeholder="Confirm Password" %}
                <input class="button" type="submit" value="Change my password" />
        </form>
    {% else %}
        <h1 style="font-size: larger; color: #888888">Password reset failed</h1>
        <p style="font-size: larger; color: #888888">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
        </div>
      </div>
    </div>

{% endblock %}