{% extends "main-a.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="mySlides">
            <h2 class="most">SiteOcation</h2>
            <p class="p-comment">SiteOcation is a source of all sites and users can put comments about sites they want,
            also other users can like or dislike user's comments.
            You can like or dislike comments when you are loged in.
            You can search for a site and see all comments about that site.
            This site was created by three bachler students whom you can see about them billow:</p>
        </div>
    <div class="row limit">
        <div class="col-4 creator">
            <img class="logo2" src="/website/static/images/Creators/adry.jpg">
            <h4 class="name">Ardavan Gharebaghi</h4>
            <p class="p-comment">Bachler student in urmia university.<br>
               Front-End developer.<br>
               21 years.</p>
        </div>
        <div class="col-4 creator">
            <img class="logo2" src="/website/static/images/Creators/mehdi.jpg">
            <h4 class="name">Mahdi Rezazade</h4>
            <p class="p-comment">Bachler student in urmia university.<br>
               Back-End developer.<br>
               21 years.</p>
        </div>
        <div class="col-4 creator">
            <img class="logo2" src="/website/static/images/Creators/parsa.jpg">
            <h4 class="name">Parsa Mahmodi</h4>
            <p class="p-comment">Bachler student in urmia university.<br>
               Back-End developer.<br>
               21 years.</p>
        </div>
    </div>

{% endblock %}