{% extends "main-a.html" %}

{% load widget_tweaks %}
{% block title %}Contact{% endblock %}


{% block commentplace %}
.commentPlace{
    background-color: #6d6d6d;
    border-radius: 20px;
    margin: 5% 5%;
    padding: 1% 0px;
}
{% endblock %}


{% block style %}
body {
    background: url(../../media/image/BackGround/BG.png) repeat fixed center;
    font-family: 'Poppins', sans-serif; margin: 0;
    margin: 0px;
    background-color: #f1f1f1;
}

.most{
    color: #FCA311;
    font-weight: bold;
}

.mySlides{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    padding: 15px 10px;
    border-radius: 25px;
    text-align: center;
    background-color: #333333;
}

.p-comment{
    text-align: center;
    color: #888888;
}

.logo{
    margin: 15px 10px 15px 20px;
    padding-left: 10px;
    width: 19%;
    height: auto;
}


{% endblock %}

{% block content %}

<div class="Body" style="margin-top: 20%;">
    <div class="mySlides">
            <h2 class="most">SiteOcation-Contact</h2>
            <p class="p-comment">You can contact us to report voilance or racist comments on site with the Email Bellow:<br>
            Siteocation@gmail.com</p>
        </div>
</div>

{% endblock %}
