{% extends "main-a.html" %}

{% load widget_tweaks %}
{% block title %}{{ user_view.username }}{% endblock %}


{% block commentplace %}
.commentPlace{
    background-color: #6d6d6d;
    border-radius: 20px;
    margin: 5% 5%;
    padding: 1% 0px;
}
{% endblock %}


{% block style %}

body {
    height: auto;
    background: url(../../media/image/BackGround/BG.png) repeat fixed center;
    font-family: 'Poppins', sans-serif; margin: 0;
    margin: 0px;
    background-color: #f1f1f1;
}

.commentPlace{
    background-color: #6d6d6d;
    border-radius: 20px;
    margin: 5% 5%;
    padding: 1% 0px;
}

.like{
  font-size: 25px;
  background-color: #333333;
  border: none;
  cursor: pointer;
  color: #888888;
}

.likey{
    width: 50%;
    margin-left: 25%;
}

.trash{
    font-size: 25px;
  background-color: #333333;
  border: none;
  cursor: pointer;
  color: #888888;
}

.like:hover {
    color: #a90b0b;
    background-color: #333333;
}

.like-count{
    float: left;
    margin-top: 10px;
    color: #888888;
}

.dislike-count{
    float: right;
    margin-top: 10px;
    color: #888888;
}

.trash:hover{
    color: #a90b0b;
    background-color: #333333;
}

.pagination {
    padding: 20px;
    margin-left: 15%;
    display: inline-block;
}

.pagination a {
  margin: 10px;
  color: #FCA311;
  background-color: #333333;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px ;
}

.pagination a.active {
  background-color: #FCA311;
  color: #333333;
}

.pagination a:hover:not(.active) {
    background-color: #FCA311;
    color: #333333;
}


.prev, .next {
  cursor: pointer;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
  text-decoration: none;
}

.prev {
  float: left;
}

.next {
  float: right;
}

.prev:hover, .next:hover {
  background-color: #FCA311;
}

a.prev:hover, a.next:hover {
    color: #333333;
}

.Comment{
    font-size: large;
    font-weight: bold;
    padding: 20px 0px;
    color: #888888;
}

.Lable{
    font-weight: bold;
    color: #888888;
}

.most{
    color: #FCA311;
    font-weight: bold;
    font-size: larger;
}

.mySlides{
    padding: 15px 10px;
    border-radius: 25px;
    text-align: center;
    background-color: #333333;
    margin: 10% 0px 0px 0px;
}

.mySlides2{
    margin-top: 15px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    border-radius: 25px;
}

.website-tag-comment{
    color: #888888;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px;
}

.website-tag-comment:hover{
    color: #FCA311;
}

.p-comment{
    text-align: center;
    color: #888888;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
    font-family: 'Poppins';
}

.button {
  font-weight: bold;
  border-radius: 25px;
  background-color: #ffffff;
  color: #FCA311;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button1{
  background-color: #333333;
  color: #333333;
  border-radius: 50px;
  border: none;
  cursor: default;
  width: 10%;
}

.button1:link, .button1:visited,.button1:hover, .button1:active{
    cursor: default;
    background-color: #333333;
    color: #333333;
}

.button:link, .button:visited {
  background-color: #E5E5E5;
  color: #FCA311;
  border: 2px solid #FCA311;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button:active {
  background-color: #FCA311;
  color: #E5E5E5;
}

a{
    border-radius: 25px;
    height: auto;
    width: auto;
    padding: 14px 20px;
    font-size: small;
}

label{
    font-family: 'Poppins';
    color: #010101;
    opacity: 70%;
}

.Body{
    font-family: 'Poppins';
    padding: -10px 0px 10px 10px;
    height: 60%;
    width: 100%;
}

.container {
  border-radius: 25px;
  position: relative;
  padding: 16px;
}

::placeholder{
    font-family: 'Poppins';
  color: #010101;
}

.inpute{
    background-color: #f1f1f1;
    color: #FCA311;
    margin-bottom: 28px;
    border-radius: 25px;
}

.inpute[type=text] {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.inpute[type=text]::placeholder {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.inpute[type=password] {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.inpute[type=password]::placeholder {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.inpute[type=password] {
  background-color: #f1f1f1;
  color: #FCA311;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

{% endblock %}

{% block content %}

<div class="Body">
        <form class="mySlides2" method="post" action="">
            {% csrf_token %}
            <div class="container">

              <label class="Lable" for="uname" style="float: left; width: 47%;"><b>Username</b></label>
              <label class="Lable" for="email" style="float: right; width: 47%;"><b>Email</b></label>

              {% render_field user_form.username class="inpute" style="width: 47%; float: left;" placeholder="Enter your username" %}
<!--              <input class="inpute" style="width: 47%; float: left" type="text" placeholder="{{ user_view.username }}" name="uname" required>-->

              {% render_field user_form.email class="inpute" style="width: 47%; float: right;" placeholder="Enter your email" %}
<!--              <input class="inpute" style="width: 47%; float: right" type="text" placeholder="{{ user_view.email }}" name="email" required>-->

              <label class="Lable" for="name" style="float: left; width: 47%;"><b>Name</b></label>
              <label class="Lable" for="LName" style="float: right; width: 47%;"><b>LastName</b></label><br>

              {% render_field user_form.first_name class="inpute" style="width: 47%; float: left;" placeholder="Enter your first name" %}
<!--              <input class="inpute" style="width: 47%; float: left" type="text" placeholder="{{ user_view.first_name }}" name="name" required>-->

              {% render_field user_form.last_name class="inpute" style="width: 47%; float: right;" placeholder="Enter your last name" %}
<!--              <input class="inpute" style="width: 47%; float: right" type="text" placeholder="{{ user_view.last_name }}" name="LName" required>-->


<!--              <label class="Lable" for="psw" style="float: left; width: 47%;"><b>New Password</b></label>-->
<!--              <label class="Lable" for="psw" style="float: right; width: 47%;"><b>Confirm Password</b></label>-->

<!--              {% render_field user_form.password class="inpute" style="width: 47%; float: left;" placeholder="Enter Password" %}-->
<!--              <input class="inpute" style="width: 47%; float: left" type="password" placeholder="Enter Password" name="psw" required>-->
<!--              {% render_field user_form.password2 class="inpute" style="width: 47%; float: right;" placeholder="Enter Password Again" %}-->
<!--              <input class="inpute" style="width: 47%; float: right" type="password" placeholder="Enter Password" name="psw2" required>-->

              <button style="width: 50%" class="button" type="submit">Save</button>
            </div>
        </form>
</div>

{% endblock %}
