{% extends "Main-a.html" %}


{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="Body">
    <form method="post">
        {% csrf_token %}
        <input class="input" style="width: 50%; margin-left: 25%; margin-top: 2%" type="text" placeholder="Search For Website" name="input_search">
        <button class="searchBtn" type="submit"><img class="searchPic" src="{% static 'images/search.png' %}"></button>
    </form>
    <div class="commentPlace" style="padding: 1.25% 0;">
        <div style="width: 95%; margin-left: 2.5%;" class="w3-content">
            {% for comment in recent_comments %}
            <div class="mySlides" style="margin-top: 0;">
                <div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <p class="most">Most Recent Comments</p>
                <a class="website-tag-comment" href="{{ comment.website_id.get_absolute_url }}">
                    {{ comment.website_id }}
                </a><br>
                <a class="Comment" href="{{ comment.user_id.get_absolute_url }}">
                    @{{ comment.user_id.user.username }}
                </a>
                <p class="p-comment">
                    {{ comment.comment }}
                </p>
                <div class="likey">
                    <p class="like-count">{{ comment.get_likes_count }}</p>
                    <p class="dislike-count">{{ comment.get_dislikes_count }}</p>
                    {% if user.is_authenticated %}
                        <button class="like"><span class="fa fa-thumbs-up"></span></button>
                        <button class="like"><span class="fa fa-thumbs-down"></span></button>
                    {% else %}
                        <span class="fa fa-thumbs-up like2"></span>
                        <span class="fa fa-thumbs-down like2"></span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>

        <div style="width: 95%; margin-left: 2.5%; margin-top: -2%;" class="w3-content">

            {% for comment in liked_comments %}
                <div class="mySlides2">
                    <div>
                        <a class="prev" onclick="plusSlides1(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides1(1)">&#10095;</a>
                    </div>
                    <p class="most">Most Liked Comments</p>
                    <a class="website-tag-comment" href="{{ comment.website_id.get_absolute_url }}">
                        {{ comment.website_id }}
                    </a><br>
                    <a class="Comment" href="{{ comment.user_id.get_absolute_url }}">
                        @{{ comment.user_id.user.username }}
                    </a>
                    <p class="p-comment">
                        {{ comment.comment }}
                    </p>
                    <div class="likey">
                        <p class="like-count">{{ comment.get_likes_count }}</p>
                        <p class="dislike-count">{{ comment.get_dislikes_count }}</p>
                        {% if user.is_authenticated %}
                            <button class="like"><span class="fa fa-thumbs-up"></span></button>
                            <button class="like"><span class="fa fa-thumbs-down"></span></button>
                        {% else %}
                            <span class="fa fa-thumbs-up like2"></span>
                            <span class="fa fa-thumbs-down like2"></span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
        </div>



</div>
{% endblock %}


{% block script %}
<script>
        var slideIndex = 0;
        carousel();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex > x.length) {slideIndex = 1}
          x[slideIndex-1].style.display = "block";
          setTimeout(carousel, 7000);
        }
        var slideIndex1 = 1;
        showSlides(slideIndex1);

        function plusSlides(n) {
          showSlides(slideIndex1 += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex1 = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          if (n > slides.length) {slideIndex1 = 1}
          if (n < 1) {slideIndex1 = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          slides[slideIndex1 -1].style.display = "block";
        }


        var slideIndex2 = 0;
        carousel1();

        function carousel1() {
          var i;
          var x = document.getElementsByClassName("mySlides2");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          slideIndex2++;
          if (slideIndex2 > x.length) {slideIndex2 = 1}
          x[slideIndex2-1].style.display = "block";
          setTimeout(carousel1, 7000);
        }
        var slideIndex3 = 1;
        showSlides1(slideIndex3);

        function plusSlides1(n) {
          showSlides1(slideIndex3 += n);
        }

        function currentSlide1(n) {
          showSlides1(slideIndex3 = n);
        }

        function showSlides1(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides2");
          if (n > slides.length) {slideIndex3 = 1}
          if (n < 1) {slideIndex3 = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          slides[slideIndex3 -1].style.display = "block";
        }
    </script>
{% endblock %}