{% extends "main-a.html" %}

{% load widget_tweaks %}
{% block title %}{{ user_view.username }}{% endblock %}


{% block commentplace %}
.commentPlace{
    background-color: #6d6d6d;
    border-radius: 20px;
    margin: 5% 2%;
    padding: 1% 0px;
}
{% endblock %}


{% block style %}

body {
    height: auto;
    background: url(../../media/image/BackGround/BG.png) repeat fixed center;
    font-family: 'Poppins', sans-serif; margin: 0;
    margin: 0px;
    background-color: #f1f1f1;
}

.commentPlace{
    background-color: #6d6d6d;
    border-radius: 20px;
    margin: 5% 2%;
    padding: 1% 0px;
}

.like{
  font-size: 25px;
  background-color: #333333;
  border: none;
  cursor: pointer;
  color: #888888;
}

.likey{
    width: 50%;
    margin-left: 25%;
}

.trash{
    font-size: 25px;
  background-color: #333333;
  border: none;
  cursor: pointer;
  color: #888888;
}

.like:hover {
    color: #a90b0b;
    background-color: #333333;
}

.like-count{
    float: left;
    margin-top: 10px;
    color: #888888;
}

.dislike-count{
    float: right;
    margin-top: 10px;
    color: #888888;
}

.trash:hover{
    color: #a90b0b;
    background-color: #333333;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
  text-decoration: none;
}

.prev {
  float: left;
}

.next {
  float: right;
}

.prev:hover, .next:hover {
  background-color: #FCA311;
}

a.prev:hover, a.next:hover {
    color: #333333;
}

.Comment{
    font-size: large;
    font-weight: bold;
    padding: 20px 0px;
    color: #888888;
}

.Lable{
    font-weight: bold;
    color: #888888;
}

.most{
    color: #FCA311;
    font-weight: bold;
    font-size: larger;
}

.mySlides{
    padding: 15px 10px;
    border-radius: 25px;
    text-align: center;
    background-color: #333333;
    margin: 10% 0px 0px 0px;
}

.mySlides2{
    margin-top: 30px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    border-radius: 25px;
}

.website-tag-comment{
    color: #888888;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px;
}

.website-tag-comment:hover{
    color: #FCA311;
}

.p-comment{
    text-align: center;
    color: #888888;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
    font-family: 'Poppins';
}

.button {
  font-weight: bold;
  border-radius: 25px;
  background-color: #ffffff;
  color: #FCA311;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button1{
  background-color: #333333;
  color: #333333;
  border-radius: 50px;
  border: none;
  cursor: default;
  width: 10%;
}

.button1:link, .button1:visited,.button1:hover, .button1:active{
    cursor: default;
    background-color: #333333;
    color: #333333;
}

.button:link, .button:visited {
  background-color: #E5E5E5;
  color: #FCA311;
  border: 2px solid #FCA311;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button:active {
  background-color: #FCA311;
  color: #E5E5E5;
}

a{
    border-radius: 25px;
    height: auto;
    width: auto;
    padding: 14px 20px;
    font-size: small;
}

label{
    font-family: 'Poppins';
    color: #010101;
    opacity: 70%;
}

.Body{
    font-family: 'Poppins';
    padding: -10px 0px 10px 10px;
    height: 60%;
    width: 100%;
}

.container {
  border-radius: 25px;
  position: relative;
  padding: 16px;
  background-color: #333333;
}

::placeholder{
    font-family: 'Poppins';
  color: #010101;
}

.inpute{
    background-color: #f1f1f1;
    color: #FCA311;
    margin-bottom: 28px;
    border-radius: 25px;
}

.inpute[type=text] {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.inpute[type=text]::placeholder {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.inpute[type=password] {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.inpute[type=password]::placeholder {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.inpute[type=password] {
  background-color: #f1f1f1;
  color: #FCA311;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

{% endblock %}

{% block content %}

<div class="Body">
    {% if is_it_him %}
        <div class="mySlides2">
            <div class="container">

              <p class="Lable" for="uname" style="float: left; width: 47%;"><b>Username</b></p>
              <p class="Lable" for="email" style="float: right; width: 47%;"><b>Email</b></p>
              <p class="Lable" for="uname" style="float: left; width: 47%;"><b>{{ user_view.username }}</b></p>
              <p class="Lable" for="email" style="float: right; width: 47%;"><b>{{ user_view.email }}</b></p>

              <p class="Lable" for="name" style="float: left; width: 47%;"><b>Last Name</b></p>
              <p class="Lable" for="LName" style="float: right; width: 47%;"><b>{{ user_view.last_name }}</b></p>
              <p class="Lable" for="name" style="float: left; width: 47%;"><b>First Name</b></p>
              <p class="Lable" for="LName" style="float: right; width: 47%;"><b>{{ user_view.first_name }}</b></p>
                <button  class="button1" type="submit"></button>
            </div>
        </div>
        <form class="mySlides2">
            <div class="container">

              <label class="Lable" for="uname" style="float: left; width: 47%;"><b>Username</b></label>
              <label class="Lable" for="email" style="float: right; width: 47%;"><b>Email</b></label>

              {% render_field user_form.username class="inpute" style="width: 47%; float: left;" placeholder="{{ user.username }}" %}
<!--              <input class="inpute" style="width: 47%; float: left" type="text" placeholder="{{ user_view.username }}" name="uname" required>-->

              {% render_field user_form.email class="inpute" style="width: 47%; float: right;" placeholder="{{ user.email }}" %}
<!--              <input class="inpute" style="width: 47%; float: right" type="text" placeholder="{{ user_view.email }}" name="email" required>-->

              <label class="Lable" for="name" style="float: left; width: 47%;"><b>Name</b></label>
              <label class="Lable" for="LName" style="float: right; width: 47%;"><b>LastName</b></label><br>

              {% render_field user_form.first_name class="inpute" style="width: 47%; float: left;" placeholder="{{ user.first_name }}" %}
<!--              <input class="inpute" style="width: 47%; float: left" type="text" placeholder="{{ user_view.first_name }}" name="name" required>-->

              {% render_field user_form.last_name class="inpute" style="width: 47%; float: right;" placeholder="{{ user.last_name }}" %}
<!--              <input class="inpute" style="width: 47%; float: right" type="text" placeholder="{{ user_view.last_name }}" name="LName" required>-->


<!--              <label class="Lable" for="psw" style="float: left; width: 47%;"><b>New Password</b></label>-->
<!--              <label class="Lable" for="psw" style="float: right; width: 47%;"><b>Confirm Password</b></label>-->

<!--              {% render_field user_form.password class="inpute" style="width: 47%; float: left;" placeholder="Enter Password" %}-->
<!--              <input class="inpute" style="width: 47%; float: left" type="password" placeholder="Enter Password" name="psw" required>-->
<!--              {% render_field user_form.password class="inpute" style="width: 47%; float: right;" placeholder="Enter Password Again" %}-->
<!--              <input class="inpute" style="width: 47%; float: right" type="password" placeholder="Enter Password" name="psw2" required>-->

              <button style="width: 50%" class="button" type="submit">Save</button>
            </div>
        </form>
    {% else %}
        <form class="mySlides2" method="post">
            <div class="container">

              <label class="Lable" for="uname" style="float: left; width: 47%;"><b>Username</b></label>
                  <label class="inpute" style="width: 47%; float: right">{{ user_view.username }}</label>

              <label class="Lable" for="name" style="float: left; width: 47%;"><b>Last Name</b></label>
              <label class="Lable" for="LName" style="float: right; width: 47%;"><b>{{ user_view.last_name }}</b></label><br>
                <label class="inpute" style="width: 47%; float: left"><b>First Name</b></label>
                <label class="inpute" style="width: 47%; float: right"><b>{{ user_view.first_name }}</b></label>
            </div>
        </form>
    {% endif %}

    <div style="width: 50%; margin-left: 25%; padding-bottom: 50px;" class="w3-content">

        <div class="commentPlace">

            {% for comment in comments %}
                <div class="mySlides2">
                    <a class="website-tag-comment" href="{{ comment.website_id.get_absolute_url }}">
                        {{ comment.website_id }}
                    </a><br>
                    <a class="Comment" href="{{ comment.user_id.get_absolute_url }}">
                        @{{ comment.user_id.user.username }}
                    </a>
                    <p class="p-comment">
                        {{ comment.comment }}
                    </p>
                    <div class="likey">
                        <p class="like-count">{{ comment.get_likes_count }}</p>
                        <p class="dislike-count">{{ comment.get_dislikes_count }}</p>
                        {% if user.is_authenticated %}
                            <button class="like"><span class="fa fa-thumbs-up"></span></button>
                            <button class="like"><span class="fa fa-thumbs-down"></span></button>
                        {% else %}
                            <span class="fa fa-thumbs-up like2"></span>
                            <span class="fa fa-thumbs-down like2"></span>
                        {% endif %}
                        <button class="trash" style="margin-left: 19%; position: absolute"><span class="fa fa-trash"></span></button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if comments.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ comments.previous_page_number }}" style="width: 100px; ">previous</a>
                {% endif %}

                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}" style="width: 100px;">next</a>
                    <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>


        </div>
        <p class="current most1" style="margin: 0;">
            Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
        </p>
    </div>
</div>

{% endblock %}
