{% extends "main-a.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Websites List{% endblock %}
{% block style %}
body {
    height: auto;
    background: url(../../media/image/BackGround/BG.png) repeat fixed center;
    font-family: 'Poppins', sans-serif; margin: 0;
    margin: 0px;
    background-color: #f1f1f1;
}

.like{
  font-size: 25px;
  background-color: #333333;
  border: none;
  cursor: pointer;
  color: #888888;
}

.likey{
    width: 50%;
    margin-left: 25%;
}

.likey1{
    padding: 20px;
    background-color: #333333;
    width: 70%;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 15%;
}

.like2{
  font-size: 25px;
  background-color: #333333;
  border: none;
  color: #888888;
}

.trash{
    font-size: 25px;
  background-color: #333333;
  border: none;
  cursor: pointer;
  color: #888888;
}

.like:hover {
    color: #a90b0b;
    background-color: #333333;
}

.like-count{
    float: left;
    margin-top: 10px;
    color: #888888;
}

.dislike-count{
    float: right;
    margin-top: 10px;
    color: #888888;
}

.trash:hover{
    color: #a90b0b;
    background-color: #333333;
}

.user{
    cursor: pointer;
    float: left;
    margin-left: 4%;
    margin-top: 4%;
}

.userName{
    cursor: default;
    font-weight: bold;
}

.userEmail{
    cursor: default;
    margin-left: 14.5%;
    padding-top: 1%;
    font-weight: bold;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
  text-decoration: none;
}

.prev {
  float: left;
}

.next {
  float: right;
}

.prev:hover, .next:hover {
  background-color: #FCA311;
}

a.prev:hover, a.next:hover {
    color: #333333;
}

.Comment{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #FCA311;
}

.Comment:hover{
    cursor: pointer;
    color: #FCA311;
}

.Lable{
    font-weight: bold;
    color: #888888;
}

.most{
    padding: 30px;
    color: #FCA311;
    font-weight: bold;
    font-size: larger;
}

.most1{
    margin: 30px 10% 0px 10%;
    color: #888888;
    font-weight: bold;
    font-size: larger;
}

.most2{
    margin: 30px 10% 0px 10%;
    padding: 30px;
    color: #888888;
    font-weight: bold;
    font-size: larger;
}

.most1::selection{
    color: #FCA311;
    background-color: #888888;
}

.most::selection{
    color: #FCA311;
    background-color: #888888;
}

.mySlides{
    padding: 15px 10px;
    border-radius: 25px;
    text-align: center;
    background-color: #333333;
    margin: 10% 0px 0px 0px;
}

.mySlides2{
    padding: 15px 10px;
    border-radius: 25px;
    text-align: center;
    background-color: #333333;
    margin: 3% 0px 0px 0px;
}

.website-tag-comment{
    color: #888888;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px;
}

.website-tag-comment:hover{
    color: #FCA311;
}

.p-comment{
    padding-top: 30px;
    text-align: center;
    color: #888888;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
    font-family: 'Poppins';
}

.button {
  font-weight: bold;
  border-radius: 25px;
  background-color: #ffffff;
  color: #FCA311;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button1{
  background-color: #333333;
  color: #333333;
  border-radius: 50px;
  border: none;
  cursor: default;
  width: 10%;
}

.button1:link, .button1:visited,.button1:hover, .button1:active{
    cursor: default;
    background-color: #333333;
    color: #333333;
}

.button:link, .button:visited {
  background-color: #E5E5E5;
  color: #FCA311;
  border: 2px solid #FCA311;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button:active {
  background-color: #FCA311;
  color: #E5E5E5;
}

.a:link, .a:visited {
  background-color: #E5E5E5;
  color: #FCA311;
  border: 2px solid #FCA311;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.a:hover, .a:active {
  background-color: #FCA311;
  color: #E5E5E5;
}

a{
    border-radius: 25px;
    height: auto;
    width: auto;
    padding: 14px 20px;
    font-size: small;
}

.kharab{
    padding: 0px;
}

.searchPic{
    max-width: 50px;
    max-height: 50px;
    float: right;
    margin-top: -10%;
    margin-right: 2%;
}

label{
    font-family: 'Poppins';
    color: #010101;
    opacity: 70%;
}

.cancelbtn {
    font-weight: bold;
  border-radius: 25px;
  color: #FCA311;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  background-color: #f1f1f1;
}

.logo{
    margin: 15px 10px 15px 20px;
    padding-left: 10px;
    width: 19%;
    height: auto;
}

.Header{
    font-family: 'Poppins';
    padding: -10px 0px 10px 10px;
    background-color: #E5E5E5;
    height: 20%;
    width: 100%;
}

.Body{
    font-family: 'Poppins';
    padding: -10px 0px 10px 10px;
    height: 60%;
    width: 100%;
}

.Footer{

    font-family: 'Poppins';
    padding: -10px 0px 10px 10px;
    background-color: #d6d6d6;
    margin-top: 15%;
    margin-left: 0px;
    height: 20%;
    width: 100%;
}

.developers{
    font-family: 'Poppins';
    color: #FCA311;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.container {
  border-radius: 25px;
  position: relative;
  padding: 16px;
  background-color: #333333;
}

.modal {
    font-family: 'Poppins';
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
    font-family: 'Poppins';
  box-shadow: 5px 5px #888888;
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 40%;
}

::placeholder{
    font-family: 'Poppins';
  color: #010101;
}

.pagination {
    padding: 20px;
    display: inline-block;
}

.pagination a {
  margin: 10px;
  color: #FCA311;
  background-color: #333333;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px ;
}

.pagination a.active {
  background-color: #FCA311;
  color: #333333;
}

.pagination a:hover:not(.active) {
    background-color: #FCA311;
    color: #333333;
}

.input{
    background-color: #f1f1f1;
    color: #FCA311;
    margin-bottom: 28px;
    border-radius: 25px;
}

.input[type=text] {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.input[type=text]::placeholder {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.input[type=password] {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

.input[type=password]::placeholder {
  background-color: #f1f1f1;
  color: #FCA311;
  font-weight: bold;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
{% endblock %}

{% block content %}
    <div class="Body">
        {% if user.is_authenticated %}
        <button class="addWebsite" onclick="document.getElementById('websiteCreat').style.display='block'">Add New Website</button>
        <div id="websiteCreat" class="modal">
          <form style="border-radius: 22px 22px 22px 22px;" class="modal-content animate" action="" method="post">
            {% csrf_token %}
            <div style="border-radius: 20px 20px 0px 0px;" class="container">

              <label for="SiteName" style="float: left; width: 47%;"><b>Site Name</b></label>
              <label for="SiteLink" style="float: right; width: 47%;"><b>Site Link</b></label>
              {% render_field add_website.name class="input" style="margin-bottom: 28px; width: 47%; float: left" placeholder="Enter SiteName" %}
<!--              <input class="input" style="margin-bottom: 28px; width: 47%; float: left" type="text" placeholder="Enter SiteName" name="SiteName" required>-->

              {% render_field add_website.website_domain_name class="input" style="margin-bottom: 28px; width: 47%; float: right" placeholder="Enter SiteLink with out www. and .com" %}
<!--              <input class="input" style="margin-bottom: 28px; width: 47%; float: right" type="text" placeholder="Enter SiteLink with out www. and .com" name="SiteLink" required>-->

              <label for="DateOfEstablishment" style="float: left; width: 47%;"><b>Date of Establishment</b></label>
              <label for="EmploeeyCount" style="float: right; width: 47%;"><b>Emploeey Count</b></label><br>

              {% render_field add_website.founded class="input" style="margin-bottom: 28px; width: 47%; float: left" placeholder="Enter Date of Establishment" %}
<!--              <input class="input" style="margin-bottom: 28px; width: 47%; float: left" type="text" placeholder="Enter Date of Establishment" name="DateOfEstablishment">-->
              {% render_field add_website.numberOfEmployees class="input" style="margin-bottom: 28px; width: 47%; float: right" placeholder="Enter Count of Employee" %}
<!--              <input class="input" style="margin-bottom: 28px; width: 47%; float: right" type="text" placeholder="Enter Count of Employee" name="EmploeeyCount" required>-->

              <label for="psw"><b>Description</b></label>
<!--              <textarea class="input" name="Description" rows="auto" cols="100" style="width: 100%;"></textarea>-->

              {% render_field add_website.description class="input" name="Description" rows="auto" cols="100" %}

            </div>

            <div class="container" style="border-radius: 0px 0px 20px 20px; background-color:#dddcdc;">
              <button type="button" onclick="document.getElementById('websiteCreat').style.display='none'" class="cancelbtn">
                  Cancel
              </button>
              <button class="button" type="submit" onclick="document.getElementById('websiteCreat').style.display='none'" style="width: auto; padding: 10px 18px; float: right">
                  Create
              </button>
            </div>
          </form>

        </div>
        {% endif %}
    <div style="width: 50%; margin-left: 25%; padding-bottom: 50px; text-align: center;" class="w3-content">
      {% for website in website_list %}
          <div class="mySlides2" style="margin-top: 3%;">
              <a class="Comment" href="{{ website.get_absolute_url }}">{{ website.name }}</a><br>
              <p class="most1">Description :</br>{{ website.description }}</p>
              <p class="most1">Date of Establishment : {{ website.founded }}</p>
              <p class="most1">Employees Number : {{ website.numberOfEmployees }}</p>
          </div>
      {% endfor %}

        <div class="pagination">
            <span class="step-links">
                    <a href="?page=1">&laquo; First</a>
                {% if website_list.has_previous %}
                    <a href="?page={{ website_list.previous_page_number }}" ><-</a>
                {% endif %}

                {% for i in website_list.paginator.page_range %}
                  {% if website_list.number == i %}
                    <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                  {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                {% endfor %}

                {% if website_list.has_next %}
                    <a href="?page={{ website_list.next_page_number }}" >-></a>
                {% endif %}
                    <a href="?page={{ website_list.paginator.num_pages }}">Last &raquo;</a>
            </span>
        </div>

<!--        {% if website_list.number %}-->
<!--        <p class="current most1" style="margin: 0;">-->
<!--            Page {{ website_list.number }} of {{ website_list.paginator.num_pages }}.-->
<!--        </p>-->
<!--        {% endif %}-->
    </div>
</div>
{% endblock %}